.main-form {
    background-color: rgba(31, 16, 45, .7);
    padding-top: 20px;
    padding-bottom: 14px;
    h3 {
        font-size: 27px;
        font-weight: 100;
        text-transform: none;
        margin-bottom: 27px;
    }
    &__header {
        padding: 16px 0;
        background-color: #3f808a;
        position: relative;
        span {
            font-size: 27px;
            font-weight: 100;
        }
        &::after {
            content: '';
            position: absolute;
            left: 183px;
            bottom: -16px;
            width: 19px;
            height: 16px;
            @include triangle(19px 16px, #3f808a, down);
        }

    }
    &__body {
        padding: 35px 50px 0 60px;
    }
    &__footer{
        .top {
            padding: 8px 45px 0 57px;
            display: flex;
            img {
                vertical-align: text-top;
            }
            .checkbox {
                width: 28%;
            }
            .agree {
                text-align: left;
                width: 70%;
                p {
                    font-size: .9em;
                    text-align: left;
                    line-height: normal;
                    margin-bottom: 0;
                }
                a {
                    font-size: .9em;
                    outline: none;
                }
            }
        }
        .bottom {
            text-align: right;
            padding: 53px 27px 8px 0;
        }
    }
}
.form-group {
    margin-bottom: 9px;
    .form-control {
        border-radius: 1.15rem;
        line-height: 1.55;
    }
    .phone-1 {
        float: left;
        width: 33%;
        display: inline-block;
        input {
            border-radius: inherit;
            border-top-left-radius: 1.15rem;
            border-bottom-left-radius: 1.15rem 
        }
    }
    .phone-2 {
        width: 66%;
        display: inline-block;
        input {
            border-radius: inherit;
            border-top-right-radius: 1.15rem;
            border-bottom-right-radius: 1.15rem;
        }
    }
    
}
.custom-select {
    background: #fff url('../img/arrow.png') no-repeat right 0.75rem center;
    border-radius: 1.15rem;
    line-height: 1.55;
}

@media(min-width:768px) and (max-width: 991px) {
    .main-form {
        background-color: #1f102d;
        &__header {
            &:after {
                left: 210px;
                bottom: -15px;
            }
        }
    }
}

@media(min-width:481px) and (max-width: 767px){
    .main-form {
        background-color: #1f102d;

    }
}

@media(min-width:381px) and (max-width: 480px){
    .main-form {
        background-color: #1f102d;
        &__header {
            &:after {
                left: 48%;
            }
        }
        &__body {
            padding: 35px 38px 0 38px;
        }
        &__footer {
            .top {
               padding: 8px 40px; 
               .checkbox {
                    width: 26%;
                    text-align: left;
                }
               .agree {
                    text-align: left;
                    width: 70%;
                    p {
                        font-size: .7em;
                    }
                    a {
                        font-size: .7em;
                    }
                }
            }
        }
    }
}

@media (min-width: 360px) and (max-width: 380px) {
    .main-form {
        background-color: #1f102d;
        &__header {
            &:after {
                left: 157px;
                bottom: -15px;
            }
        }
        &__body {
            padding: 35px 27px 0;
        }
        &__footer {
            .top {
                padding: 8px 25px 0;
            }
        }
    }
}

@media(max-width: 359px) {
    .main-form {
        background-color: #1f102d;
        &__header {
            span {
                font-size: 20px;
            }
            &:after {
                left: 130px;
            }
        }
        &__body {
            padding: 35px 25px 0 25px;
        }
        &__footer {
            .top {
                padding: 8px 22px;
                .checkbox {
                    width: 30%;
                }
                .agree {
                    p {
                        font-size: .7em;
                    }
                    a {
                        font-size: .7em;
                    }
                }
            }
        }
    }
}